@import "tailwindcss";


@theme {
  --color-lightHover: #f1c6ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr));
}

* { 
  font-family: Outfit;
}